@layout("../../system/layout.html", {title: "模板一数据"}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">资费区（一区-九区）<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="资费区（一区-九区）" v-model="importDataone.feeArea" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">通达国家（地区，每个地区逗号与逗号隔开）<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="通达国家（地区，每个地区逗号与逗号隔开）" v-model="importDataone.accessToTheState" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">价格<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="价格" v-model="importDataone.price" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">货物类型（1.文件，2.物品）<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="货物类型（1.文件，2.物品）" v-model="importDataone.goodsType" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">首重（统一为kg）<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="首重（统一为kg）" v-model="importDataone.firstPriority" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">参考时限 （工作日）<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="参考时限 （工作日）" v-model="importDataone.
referenceTime" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">最高限重（kg）<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="最高限重（kg）" v-model="importDataone.maximumWeight" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">最大尺寸限制（m）<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="最大尺寸限制（m）" v-model="importDataone.maximumSizeLimit" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">补偿标准<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="补偿标准" v-model="importDataone.compensationStandard" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">备注<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="备注" v-model="importDataone.remarks" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">起重（单位g）<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="起重（单位g）" v-model="importDataone.lifting" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">创建时间<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="创建时间" v-model="importDataone.gmtCreate" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">修改时间<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="修改时间" v-model="importDataone.gmtModified" isvalid="yes" checkexpession="NotNull">
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/base/importDataone/edit.js"></script>
@}